h1{
    color: aliceblue;
}
.moviepage
{
  position: absolute; /* Абсолютно позиционируем фон */
  top: 13%;
  left: 0;
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Помещаем фон под остальной контент */
}

.desc_and_logo
{
    display: flex;
    justify-content: end;
    position: relative;
    top: 10rem;
    /* border: 1px solid red; */
    height: 25rem;
    width: auto;
}
.posterLogo
{
    margin-right: 40px;
    float: right;
    height: 100%;
    width: auto;
    border-radius: 19px;
    /* border: 1px solid yellow; */
}
.descrptn
{
    /* display: block; */
    /* border: 1px solid green; */
    height: 50%;
    margin-top: 5%;
    margin-right: 2rem;
    width: auto;
    /* color: rgb(41, 43, 46); */
}
.descTitle
{
    display: flex;
    justify-content: end;
    /* margin-right: 1rem; */
    color:aliceblue;
    font-size: x-large;
    font-weight: bold;
}
.descData
{
    display: flex;
    justify-content: end;
    /* margin-right: 1rem; */
    color: white;
}

.button1
{
    background-color: rgba(25, 60, 184, 1);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 16px;
    min-width: 6rem;
    min-height: 1.5rem;
}
.button2
{

    background-color: rgba(25, 60, 184, 1);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 16px;
    min-width: 6rem;
    min-height: 1.5rem;
}
.button3
{
    background-color:rgba(190, 219, 255, 1);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 16px;
    min-width: 6rem;
    min-height: 1.5rem;
}
.button3
{
    background-color:rgba(190, 219, 255, 1);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 16px;
    min-width: 6rem;
    min-height: 1.5rem;
}
.buttons
{
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 5rem;
    /* border: 1px solid teal; */
}