.movie
{
    color: aliceblue;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}
.movieCard
{
    display: flex;
    flex-direction: row;
}

.movie-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
    margin-left: 50px;
    margin-right: 50px;
}

.movie-item
{
    width: calc(16% - 15px);
    margin-bottom: 50px;
    border-radius: 8px; 
    overflow: hidden; 
    /* border: 1px solid rgb(74, 72, 69); */
}
.movieImg
{
    display: flex;
    justify-content: center;
}
.poster{
    width: 100%;
    max-height: 19rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.movieTitle
{
    display: block;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5%;
    margin-right: 5%;
}
.yearAndLength
{
    color: rgba(69, 85, 108, 1);
    display: block;
    margin-left: 5%;
}

.linkNoDecor{
    text-decoration: none;
}
.movieLoading
{
    border: 2px solid grey;
    border-radius: 10px;
    width: 100%;
    color: aliceblue;
}
.movieLoading h3
{
   margin-left: 3rem;
}
.delButton{
    width: 100%;
    height: 2rem;
    background-color: rgb(3, 12, 50);
    color: aliceblue;
    border-radius: 19px;
    border: 1px solid aliceblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}